html, body{
  margin: 0;
  height: 100%;
}

line {
  stroke: red;
}

path {
  stroke: green;
  stroke-width:2;
  fill: none;
}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

g.hidden line,
g.hidden path{
  display: none;
}
